body {
  
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}


nav {
   
     padding: 0 1.5rem;
}


.content {

     min-height: calc(100vh - 70px - 56px);
     padding: 1.5rem 0;
}


.logo {
     margin-top: 0.438rem;
     height: 3.3rem;
     width:  3.3rem;

}

.list {
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
         gap: 1rem;

}


.card {
     display: flex;
     flex-direction: column;
     margin-top: 15px;
}

.card-content {
     flex-grow: 1;
}


.card .card-action {
     background-color: inherit;
     border-top: 1px solid rgba(160,160,160,0.2);
     position: relative;
     padding: 16px 24px;
     margin: auto;
 }


.btn {
        position: relative;
        text-align:center;
        background-color:#43a047;
        
}


.btn:hover {
        background-color:#66bb6a;
        text-align:center;
}



img {
    max-width: 100%;
}

.recipe {
     max-width: 100%;
     width: 80%;
     height: 80%;   
}




